body {
    background-color: var(--bg-1);
    
    #header-page1 {
        width: 100%;
        background-color: var(--bg-1);
        background-image: url('../images/Group.png');
        background-repeat: repeat;
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
        a{
            
            figure {
                flex-direction: column;
                align-items: center;
                :first-child{

                    width: 90px;
                    height: auto;
                }
                :last-child {
                    width: 215px;
                    height: auto;
                    
                }

            }
        }
        
    
    }
    
    .main-page1 {
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 80vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        .btn-login {
            margin: 20px;
            width: 250px;
            height: 50px;
            border: blue solid 2px;
            background: #1F3BE5;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            transition: .5s;
            a{
                color: white;
                text-decoration: none;
                padding: 10px;
                width: 250px;
                height: 50px;
                text-align: center;
            }
            &:hover {
                background-color: #1f39e57a;
            }
        }
        .content {
            height: 520px;
            width: auto;
            border-radius: 20px;
            overflow: hidden;
            input {
                    display: none;
            }
            .slides {
                display: flex;
                width: 500%;
                height: 100%;
                .slide {
                    width: 25%;
                    transition: .6s;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                #slide1:checked ~ .s1 {
                    margin-left: 0;
                }
                #slide2:checked ~ .s1 {
                    margin-left: -25%;
                }
                #slide3:checked ~ .s1 {
                    margin-left: -50%;
                }
                #slide4:checked ~ .s1 {
                    margin-left: -75%;
                }
            }
            .navigation {
                position: absolute;
                display: flex;
                
                color: white;
                .bar {
                    width: 70px;
                    height: 17px;
                    border: 2px solid #fff;
                    border-radius: 5px;
                    margin: 6px;
                    cursor: pointer;
                    transition: .4s;
                    &:hover {
                        background-color: #fff;
                    }   
                }
            }    
        }
    }
    #footer {
        align-items: center;
        justify-content: center;
       
        width: 100%;
        height: 190px;
        >div {
            width: 100%;
            justify-content: center;
            ul {
                flex-direction: column;
                align-items: center;
                padding: 0;
                
                li{
                    margin: 10px 0 10px 0;
                    color: white;
                    font-size:1.4rem  ;
                    a {
                        color: rgb(162, 171, 250);
                        font-size: 1.2rem ;
                    }
                }
                .social {
                    a {
                       
                        width:auto;
                        img {
                            margin: 20px;
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
       
}