:root {
    --black:#000000;
    --black-1:#1F2525;
    --black-2:#0C0B0B;
    --black-3:#070D0D;
    --bg-1:#08182A;
    --bg-rectangle: rgba(255, 255, 255, 0.1);
    --blue:#1F3BE5;
    --blue-2:#223A95;
    --blue-3:#1B9AF6;
    --gray:#E3E3E3;
    --white:#FFFFFF;
    --border:#D7D7D7;
}