@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold", url("../fonts/Roboto-Bold.ttf") format("true-type"));
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light", url("../fonts/Roboto-Light.ttf") format("true-type"));
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium", url("../fonts/Roboto-Medium.ttf") format("true-type"));
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular", url("../fonts/Roboto-Regular.ttf") format("true-type"));
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black", url("../fonts/Roboto-Black.ttf") format("true-type"));
  font-style: normal;
  font-weight: 900;
}
:root {
  --black:#000000;
  --black-1:#1F2525;
  --black-2:#0C0B0B;
  --black-3:#070D0D;
  --bg-1:#08182A;
  --bg-rectangle:#202F3F;
  --blue:#1F3BE5;
  --blue-2:#223A95;
  --blue-3:#1B9AF6;
  --gray:#E3E3E3;
  --white:#FFFFFF;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
}
body > main {
  min-height: calc(100vh - 400px);
}

.page1 {
  background-color: var(--bg-1);
  background-image: url("../images/Group.png");
  background-repeat: repeat;
}
.page1 a {
  width: 100%;
}
.page1 header {
  justify-content: center;
  height: 350px;
  width: 100vw;
}
.page1 header figure {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 201px;
  margin: 40px 0 0 0;
}
.page1 header figure :first-child {
  width: 100px;
}
.page1 header figure :last-child {
  width: 215px;
}
.page1 .rectangle {
  width: 100vw;
  top: 350px;
  height: 80px;
  background-color: var(--bg-rectangle);
  margin: 0;
}

.app {
  background-color: var(--black-3);
}
.app #header {
  flex-direction: column;
  width: 100vw;
  height: 350px;
  background-image: url("../images/image 2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.app #header #img-user {
  width: 50px;
  height: 50px;
  align-self: self-end;
}
.app #header #logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app #header #logo figure {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 201px;
  margin: 40px 0;
}
.app #header #logo figure :first-child {
  width: 100px;
  height: 127px;
}
.app #header #logo figure :last-child {
  width: 215px;
  height: 59px;
}
.app main {
  flex-direction: column;
  justify-content: start;
}
.app main .rectangle {
  width: 100vw;
  top: 350px;
  height: 80px;
  background-color: var(--bg-rectangle);
  margin: 0;
  justify-content: center;
}
.app main .rectangle h1 {
  font-size: 32px;
  color: var(--white);
  font-weight: 400;
  line-height: 37.5px;
  justify-content: center;
}
.app main .rectangle h1 span {
  color: var(--blue);
}
.app main .options {
  padding: 0 20px;
}
.app main .options div {
  flex-direction: column;
}
.app main .options div h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--white);
}
.app main .options div label .content {
  flex-direction: row;
  margin: 10px 0;
}
.app main .options div label .content input {
  display: none;
}
.app main .options div label .content .square {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background: #070D0D;
  border: 1px solid rgba(27, 154, 246, 0.5);
}
.app main .options div label .content div {
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  color: rgba(27, 154, 246, 0.7);
}
.app main .options div label .content div div {
  flex-direction: row;
}
.app main .options div hr {
  border-top: none;
  border-bottom: 1px dotted var(--blue-3);
  width: 100%;
  margin: 0;
}

@media (min-width: 1200px) {
  .app #header {
    background-image: url("../images/image 2banner.png");
  }
  .app #header #logo figure {
    flex-direction: row;
    align-items: center;
  }
  .app #header #logo figure :first-child {
    width: 126x;
    height: 160px;
  }
  .app #header #logo figure :last-child {
    width: 273px;
    height: 70px;
    margin-top: 30px;
  }
  .app main .rectangle {
    justify-content: flex-start;
  }
  .app main .rectangle h1 {
    margin-left: 50px;
  }
  .app main .options {
    max-width: 50%;
  }
  .app main .options div label .content div {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
